@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'leaflet/dist/leaflet.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --background:transparent;
    /* --foreground: #ededed; */
  }
}
@font-face {
  font-family: 'Nexa';
  src: url('../public/fonts/Nexa-ExtraLight.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Nexa, sans-serif;
}
